/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Reset and global styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f1f5f9;
}

/* Heading styles */
.header-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 130px;
    align-items: center;
}

.header {
    font-size: 4em;
    width: 100%;
    text-align: center;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 550px;
    align-items: center;
    gap: 100px;
    max-width: 1100px;
}

#canvas {
    margin: 10px;
    height: 450px;
    width: 450px;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
    display: grid;
    grid-template-rows: repeat(16, 1fr);
}

.settings {
    height: 430px;
    width: 225px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*Color Picker styles*/
#colorInput {
    -webkit-appearance: none;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 34%);
    margin-left: 75px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.current-color:hover {
    transform: scale(1.15);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: none;
}

input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: none;
}

.options {
    height: 325px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option {
    margin-top: 20px;
    font-size: 1.35em;
    width: 175px;
}

.option:not(:last-child) {
    background-color: transparent;
    border: 3px solid #334155;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.option:not(:last-child):hover {
    transform: scale(1.1);
}

li.option.active {
    background-color: #334155;
    color: white;
}

.custom-slider {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
}

.custom-slider:focus {
    outline: none;
}

.custom-slider::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 5px;
    background: #94a3b8;
    cursor: pointer;
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #334155;
    margin-top: -5px;
}

/* Highlighted range progress (for Firefox) */
.custom-slider::-webkit-progress-value {
    height: 15px;
    width: 15px;
    border-radius: 5px;
    background: #334155;
    margin-top: -5px;
}

/* Tooltip */
.slider-tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: #b05836;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

/* Show tooltip on thumb hover */
.custom-slider::-webkit-slider-thumb:hover + .slider-tooltip {
    opacity: 1;
}

#gridSize {
    text-align: center;
    font-size: .9em;
    margin-top: 5px;
}

.clear {
    margin: 10px;
    font-size: 1.5em;
}

.cell {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: white;
}
/* Media queries */

/* Center the content when the screen width is 1000px or less */
@media (max-width: 1000px) {
    .main {
        justify-content: center;
    }
}

/* Reduce the gap between elements and canvas size when the screen width is 850px or less */
@media (max-width: 850px) {
    .main {
        gap: 50px;
    }
    #canvas {
        width: 400px;
        height: 400px;
    }
}

/* Decrease header and canvas sizes and place the options under the canvas when the screen width is 720px or less */
@media screen and (max-width: 720px) {
    .header {
        font-size: 3em;
    }
    .header-container{
        height: 100px;
    }
    .main {
        flex-direction: column-reverse;
    }
    #canvas {
        width: 350px;
        height: 350px;
    }
}